{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="sign">
               <h1> <span class="fast-flicker"> Welcome </span> to Maurice<span class="flicker"> Burger restaurant </span></h1>
            </div>
            <h3 id="color-override"> Enjoy the Burger</h3>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="burgerimage card ">
            <img src="https://hhp-blog.s3.amazonaws.com/2019/07/burger.jpg" width="100" height="60"> </img>
            <img src="https://ddbuckingham.files.wordpress.com/2018/06/o-b-facebook.jpg" width="105" height="60">
            </img>
            <img src="https://www.mcdonalds.com/content/dam/uk/nfl/nutrition/nfl-product/product/related/mcdonalds-Vegetable-Deluxe.jpg"
                width="105" height="60"> </img>
            <img src="https://thebrag.com/wp-content/uploads/2019/05/McDonalds-Vegetarian.jpg" width="105" height="60">
            </img>
            <img src="https://www.qsrmagazine.com/sites/default/files/styles/story_page/public/news-image/sonic-unveils-new-jr-garlic-butter-bacon-burger.jpg?itok=jZfdng2m"
                width="105" height="60"></img>
            <img src="https://thebrag.com/wp-content/uploads/2019/05/McDonalds-Vegetarian.jpg" width="105" height="60">
            </img>
            <img src="https://thebrag.com/wp-content/uploads/2019/05/McDonalds-Vegetarian.jpg" width="105" height="60">
            </img>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <form class="create-form">
            <div class="order ">
                <label for="newburger" id="color-overrides">New order :</label>
                <input type="text" id="newburger" name="burger">
                {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                <button type="submit" class="btn btn-success" id="addburger">Submit Order</button>
            </div>
        </form>
    </div>
    <br>
</div><!-- container -->
<div class="container">
    <div class="row ">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>waiting to be devoured</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-cutlery"> Devour it!</span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- /row -->
<!-- /container -->
	<footer class="=footer row"><h6>Application Built From Scratch By Maurice Chouamou &copyCopyright</h6></footer>